#search-form {
    position: relative;
}

#search-form::after {
    position: absolute;
    top: 0.4rem;
    right: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.8rem;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
    font-size: 1.2rem;
    color: #6c757d;
    content: "Ctrl + /";
    border: 1px solid #dee2e6;
    border-radius: 0.125rem;
}