{% extends 'home/base.html' %}


{% block title %}Login | Evolves{% endblock title %}

{% block body %}

{% if request.user.is_authenticated %}
<script>window.location = '/'</script>
{% endif %}

<div class="container">
    <form class="mx-auto my-5 w-25">
        <h1 class="text-center my-5">Welcome back</h1>
        
        <div class="mb-3">
            <label for="email" class="form-label">Username</label>
            <input type="text" class="form-control" id="email" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" required>
        </div>
        <button type="submit" class="btn btn-primary container-fluid">LOGIN</button>
    </form>
</div>

{% endblock body %}