{% extends 'home/base.html' %}

{% load home_tags %}

{% block title %}Search: {{ query }} | Evolves{% endblock title %}

{% block css %}
.price {
    color: rgb(223 0 0);
    font-size: 1.5em;
}
.off {
    color: rgb(0 0 0);
    font-size: 1.2em;
    font-weight: bold;
}
{% endblock css %}

{% block body %}

<div class="container">

        <div class="row row-cols-1 row-cols-md-3 g-4">
            
        {% for product in products %}
            {% include 'home/components/card.html' with product=product %}
        {% endfor %}

        </div>
</div>

{% endblock body %}